<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth - GitHub</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12">
                <h1>¡Bienvenido/a!</h1>
                <a href="/logout" class="btn btn-outline-primary mt-4">Logout</a>
            </div>
        </div>
    </div>
    
</body>
</html>